@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wght@100;300;400;500;700&display=swap');

/*--Logo--*/

.background {
  background-color: #000;
}

#logo {
  font-family: "Press Start 2P", sans-serif;
  color: #f00;
  background-color: #000;
  padding-top: 10px;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
}

/*--Navigation--*/

#nav {
  margin: 0;
}

#nav li {
  font-size: 14px;
  padding: 0;
}

.nav-item {
  font-family: "Press Start 2P", sans-serif;
  padding-left: 25px;
}

/*--Section--*/

section {
  background-color: cadetblue;
}

.text {
  padding-left: 6%;
  padding-right: 6%;
  text-align: center;
}

.sub-heading {
  font-family: "Press Start 2P", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
  color: #000;
  text-align: center;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
}

.sub-sub-heading {
  font-family: "Roboto", sans-serif;
  padding-left: 2px;
  color: #000;
  text-align: center;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
}

.intro {
  padding: 10px;
}

.about {
  padding: 10px;
}

/*--Four Image box--*/

.textOnImg {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30%;
  color:darkgrey;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.maintxt {
  position: relative;
}

.maintxt > img {
  position: relative;
}

.upper-image {
  padding-bottom: 20px;
}

#topRow {
  padding-top: 20px;
  background-color: #23464b;
  }

#bottomRow {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #23464b;
}

/*--Restaurant Menu--*/

.menu {
  padding: 10px;
}

.menu-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #23464b;
}

.menu-list li {
  padding-bottom: 15px;
}

.menu-heading {
  font-family: "Press Start 2P", sans-serif;
  padding-left: 10px;
  font-weight: 500;
  color: #000;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
}

/*--Events--*/

.events {
  padding: 10px;
}

.events-heading {
  font-family: "Press Start 2P", sans-serif;
  padding-left: 10px;
  font-weight: 500;
  color: #000;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
}

.events-list {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #23464b;
}

.events-list li {
  padding-bottom: 15px;
}

/*--Image Carousel--*/

.carousel {
  max-height: 1100px;
  max-width: 700px;
  display: flex;
  display: flex;
  justify-content: center;
}

.carousel-caption {
  font-family: "Roboto", sans-serif;
  color:darkgrey;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.carousel-frame {
  padding-bottom: 10px;
}

/*--Results Table--*/

.table {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 0;
}

.tournaments {
  padding-left: 6%;
  padding-right: 6%;
}

/*--Tournament Suggestions--*/

.suggestions {
  padding-left: 4%;
  padding-right: 4%;
}

/*--Customer Information--*/

.hours {
  padding: 10px;
}

.contact {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  padding: 15px 10px 15px 10px;
  color:darkgrey;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  background: #23464b;
}

.find {
  font-family: "Press Start 2P", sans-serif;
  text-align: center;
  padding: 15px 10px 15px 10px;

  color: #000;
  text-shadow: 2px 0 darkgrey, -2px 0 darkgrey, 0 2px darkgrey, 0 -2px darkgrey,
             1px 1px darkgrey, -1px -1px darkgrey, 1px -1px darkgrey, -1px 1px darkgrey;
  background: cadetblue;
}

.opening-times {
  padding-top: 25px;
}

/*--Modal video launcher--*/

.video {
  padding-bottom: 10px;
}

.modal-content {
  font-family: "Roboto", sans-serif;
  color:darkgrey;
  background: #23464b;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  color: darkgrey;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  background: #23464b;
}

/*--Footer--*/

#ending {
  padding-bottom: 20px;
  padding-top: 5px;
  background: #23464b;
}

/*--Social Media--*/

.socials {
  padding-top: 10px;
  color:darkgrey;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#twitter {
  font-size: 1.7em;
  color: #000;
}

#instagram {
  font-size: 1.7em;
  color: #f08;
}

#youtube {
  font-size: 1.7em;
  color: #f00;
}

